
/* For smart quotes */
q { quotes: "“" "”" "‘" "’"; }

/* Override section behavior.
 * We only want the top-level <section> to have padding.
 * This makes it easier to work with --section-divs. */
section {
  padding-top: initial;
  padding-bottom: initial;
}
article > section {
  padding-top: 1rem;
}

/* Make byline (date and/or author) italic */
p.byline {
  font-style: italic;
}

/* Simulate Pandoc's table output styles */
table {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
th {
  border-bottom: 1px solid black;
}
td, th {
  font-size: 1.4rem;
  padding: 10px;
  text-align: left;
}

/* Allow tables to be full width
 * if they're wrapped in a figure.fullwidth
 * (Easier to insert from Pandoc than manually adding table) */
figure.fullwidth table {
  width: 90%;
}

@media (max-width: 760px) {
  figure.fullwidth table {
    width: 100%;
  }
}

/* Code blocks
 *
 * Code blocks with a language look like div.sourceCode > pre.sourceCode
 * Otherwise, it's just a pre (without .sourceCode) */
div.sourceCode,
pre:not(.sourceCode) {
  padding: 1.4rem;
  margin: -0.7rem -1.4rem;
  font-size: 0.9rem;
  overflow-x: auto;
}

div.sourceCode code,
pre:not(.sourceCode) code {
  font-size: 0.9rem;
}

/* The next rule are to not reduce the width of code inside a list since
 * it has already been reduced by the list itself.
 */
li > div.sourceCode code,
li > pre:not(.sourceCode) code {
  width: 100%;
}

.fullwidth div.sourceCode,
.fullwidth pre:not(.sourceCode) {
  width: 100%;
}

@media (max-width: 760px) {
  div.sourceCode,
  pre:not(.sourceCode) {
    width: 100%;
  }
}

/* Math formatting */
.katex {
  font-size: inherit !important;
}

/* Wrap long URLs in references */
#refs a {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Work around the fact that pandoc doesn't have a way to set classes on
 * <figure> elements when using implicit-figures.
 *
 * Ref: https://github.com/jgm/pandoc/issues/3928
 */
.fullwidth > figure {
    max-width: 100%;
}

/* Keyword styling */
div#keywords {
    width: 55%;
    font-size: 1.2em;
    margin-top: 1.2em;
    line-height: 2rem;
}

.keyword {
  background-color: #f9f4e2;
  padding: 1px 4px 1px 4px;
  margin: 0.9%;
  border-radius: 6px;
}
